#main{
  .wrap-content{
    margin: 5px;
    background: #2c2943;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    min-height: 100px;
    &.no-background{
      background: none;
      padding: 5px 0px 15px;
      .main-content{
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
  .btn-back{
    position: absolute;
    left: 20px;
    top: 15px;
  }
  .btn-shop{
    position: absolute;
    right: 100px;
    top: 20px;
    color: #fff;
    @include dis(top);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px;
    padding: 0px 15px;
    background: #8581a4;
    border-radius: 5px;
  }
  .capcha{
    @include dis(top);
  }
  .frm-transfer{
    position: relative;
    input[type="text"]{
      font-weight: 700;
      color: #fff;
      font-size: 22px;
      font-style: normal;
      border: 1px solid #ffffff;
      height: 41px;
      line-height: 41px;
      border-radius: 5px;
      margin-bottom: 6px;
      background: #161421;
      width: 250px;
      &.capcha{
        width: 100px;
        @include dis(top);
      }
    }
    .frm-left{
      margin-left: 60px;
      .align-center{
        margin-top: 25px;
        input[type="submit"]{
          font-weight: 700;
          font-size: 27px;
          color: #fff;
          padding: 3px 15px;
          border-radius: 5px;
          background: #fcb41d;
          color: #fff;
          border: none;
          text-transform: uppercase;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
    .frm-right{
      margin-left: 20px;
      width: 490px;
      .note{
        font-size: 15px;
        font-weight: 700;
        h6{
          font-weight: 700;
          color: #ff0048;
          font-size: 15px;
        }
        p{
          font-size: 16px;
          margin: 10px 0px 0px;
        }
        ul{
          margin: 0px;
          padding: 0px 0px 0px 20px;
          list-style: none;
        }
      }
    }
    &.frm-edit{
      .frm-left{
        margin-left: 0px;
        p{
          margin-top: 15px;
        }
        label.slt{
          span{
            font-size: 22px;
            font-weight: 700;
            color: #7c7c7c;
            @include dis(middle);
            margin-right: 10px;
          }
          select{
            @include dis(middle);
            width: 150px;
          }
        }
        .date{
          input[type="text"]{
            width: 70px;
            @include dis(middle);
            font-size: 19px;
          }
          span{
            @include dis(middle);
            font-size: 20px;
            color: #7c7c7c;
            padding: 0px 4px;
          }
        }
      }
      .frm-right{
        p{
          font-size: 19px;
          color: #8581a4;
          font-weight: 700;
          margin-bottom: 10px;
        }
        .align-center{
          margin-top: 20px;
        }
      }
    }
  }
  .frm-change-password, .manager-account{
    width: 250px;
    margin: 10px auto;
    p{
      margin-bottom: 15px;
      label.error{
        font-weight: 700;
        font-size: 13px;
        color: #ff0048;
        display: block;
      }
    }
    input[type="submit"]{
      color: #fff;
      @include dis(middle);
      vertical-align: top;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 27px;
      padding: 0px 25px;
      background: #8581a4;
      border-radius: 5px;
      border: none;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .main-content{
    padding: 5px 25px 5px 40px;
    .the-title{
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font-weight: normal;
      font-size: 22px;
      margin: 0px 0px 10px;
    }
    .the-title-big{
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font-weight: normal;
      font-size: 35px;
      margin: 0px 0px 10px;
    }
    .tbl-dl, .tbl-cart{
      outline: 4px solid #1b0107;
      border: 2px solid #8581a4;
      width: 100%;
      background: #000000;
      th{
        text-align: center;
        border: 2px solid #8581a4;
        font-size: 23px;
        font-weight: normal;
        vertical-align: middle;
        line-height: 20px;
      }
      th + th{
        font-size: 17px;
      }
      th + th + th{
        font-size: 23px;
      }
      td{
        border: 2px solid #8581a4;
        height: 20px;
      }
    }
  }
  .navigation{
    padding: 15px 0px 0px;
    text-align: center;
    ul{
      @include dis(middle);
      li{
        margin: 0px 5px;
        a{
          font-size: 23px;
          font-weight: 700;
          display: block;
          color: #8581a4;
        }
        &.active{
          a{
            color: #fff;
          }
        }
      }
    }
    a.btn{
      @include dis(middle);
    }
  }
  input[type="text"], input[type="password"]{
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    border: 1px solid #ffffff;
    height: 41px;
    line-height: 41px;
    border-radius: 5px;
    margin-bottom: 6px;
    background: #161421;
    width: 250px;
    text-align: left;
  }
  input[type="submit"]{
    color: #fff;
    @include dis(top);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px;
    padding: 0px 25px;
    background: #8581a4;
    border-radius: 5px;
    border: none;
    &:hover{
      opacity: 0.7;
    }
  }
  .frm-forget{
    p{
      text-align: center;
      margin-bottom: 30px;
      &.note{
        font-weight: 700;
        font-size: 13px;
        color: #ff0048;
      }
    }
  }
  #frm-login{
    p{
      text-align: center;
      label.error{
        display: block;
        font-weight: 700;
        font-size: 13px;
        color: #ff0048;
        margin: -2px 0px 15px;
      }
    }
  }
  .link-control{
    text-align: center;
    font-weight: 700;
    color: #8581a4;
    font-size: 19px;
    margin: 30px 0px 1px;
    .login-with{
      @include dis(top);
      a{
        @include dis(middle);
        margin: 0px 0px 0px 20px;
      }
    }
    a{
      color: inherit;
    }
  }
  .frm-register{
    .col{
      width: 31%;
      margin: 0px 1%;
    }
    p{
      position: relative;
      text-align: center;
      label.error{
        display: block;
        font-weight: 700;
        font-size: 13px;
        color: #ff0048;
        margin: -2px 0px 15px;
      }
    }
    input[required] + label{
      &:after{
        content: '*';
        color: #ff0048;
        position: absolute;
        bottom: 100%;
        left: 10px;
      }
    }
    .roles-container{
      margin-bottom: 30px;
      p{
        font-size: 13px;
        font-weight: 700;
        color: #fcb41d;
        margin: 10px 0px 0px;
        &+p{
          color: #eddcdd;
          font-size: 15px;
          input[type="checkbox"] {
            display: none;
            &+label:before {
              content: "";
              position: absolute;
              right: 100%;
              top: 0px;
              background: url(images/cbx.png) no-repeat left top;
              width: 34px;
              height: 28px;
            }
            &:checked + label:before {
              content: "";
              width: 34px;
              height: 28px;
              background: url(images/cbx-checked.png) no-repeat left top;
            }
            &:checked + label:after {
              font-weight: bold;
            }
          }
          label {
            cursor: pointer;
            @include dis(middle);
            position: relative;
            line-height: 28px;
          }
        }
      }
    }
    input[type="submit"]{
      background: #278b3f;
      padding: 0px 30px;
    }
  }
  .tabs{
    margin-left: 0px;
    padding-left: 60px;
    li{
      padding: 0px;
      a{
        display: block;
        font-size: 35px;
        padding: 0px 20px;
        line-height: 50px;
        color: #8581a4;
        &.active{
          background: #2c2943;
          color: #fff;
        }
      }
    }
    &.tabs-small{
      li{
        a{
          font-size: 21px;
          padding: 0px 15px;
        }
      }
    }
    &.tabs-vertical{
      margin: 10px 0px 0px;
      padding: 0px;
      list-style: none;
      li{
        display: block;
        margin-bottom: 2px;
        a{
          background: #3d3b71;
          padding: 0px 10px;
          line-height: 97px;
          border-radius: 5px 0px 0px 5px;
          opacity: 0.7;
          &.active{
            background: #524e95;
            opacity: 1;
          }
        }
      }
    }
  }
  .tab-content{
    background: #2c2943;
    padding: 35px 50px;
    &.padding-normal{
      padding: 5px 25px 10px;
    }
    .list-cart{
      padding-bottom: 10px;
      li{
        position: relative;
        padding: 0px;
        margin-left: 75px;
        border-radius: 5px;
        span{
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          display: block;
          height: 39px;
          line-height: 39px;
          text-align: center;
          font-size: 23px;
          color: #fff;
        }
        &:first-child{
          margin-left: 0px;
        }
      }
    }
    .tab-content{
      background: #524e95;
      padding: 5px 13px;
      float: right;
      width: 883px;
      border-radius: 5px;
      .list-messeger{
        overflow-x: hidden;
        overflow-y: auto;
        height: 270px;
        padding-right: 10px;
        li{
          display: block;
          border: 1px solid #8581a4;
          border-radius: 5px;
          box-shadow: inset 0px 0px 25px #000;
          background: #29274a;
          padding: 10px 25px;
          margin-bottom: 3px;
          .content-messeger{
            font-size: 21px;
            color: #7c7c7c;
          }
          a.btn-delivery{
            font-weight: 700;
            color: #fff;
            font-size: 34px;
            background: #8581a4;
            @include dis(middle);
            border-radius: 5px;
            margin-top: 5px;
            padding: 0px 15px;
            &:hover{
              opacity: 0.7;
            }
          }
          .text-delivery{
            @include dis(middle);
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            line-height: 28px;
            margin-left: 20px;
            b{
              @include dis(middle);
              width: 38px;
              height: 38px;
              border-radius: 50%;
              box-shadow: inset 0px 0px 5px #000;
              background: #1f1d35;
              border: 1px solid #827fa2;
              text-align: center;
              line-height: 38px;
              margin-right: 5px;
            }
          }
          .btn-delivered{
            @include dis(middle);
            font-size: 34px;
            font-weight: 700;
            color: #fff;
            line-height: 28px;
            margin-left: 20px;
            background: url(images/icon-minus.png) no-repeat center right;
            padding-right: 30px;
          }
        }
      }
      .control-delivery{
        text-align: center;
        padding: 10px 0px 5px;
        min-height: 48px;
        a.btn-deliveryall{
          @include dis(top);
          font-size: 34px;
          color: #fff;
          background: #fcb41d;
          padding: 0px 15px;
          font-weight: 700;
          border-radius: 5px;
          cursor: pointer;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
    &.tab-padding{
      padding: 10px;
    }
    ul.tabs{
      padding-left: 0px;
      li{
        a{
          font-size: 23px;
          &.active{
            background: #1b0107;
          }
        }
      }
    }
  }
  .frm-cart{
    h5.type-card{
      width: 250px;
      background: #e4e4e4;
      color: #000;
      font-size: 27px;
      margin-bottom: 15px;
      padding-top: 5px;
      line-height: 38px;
      border-radius: 5px;
      font-weight: 700;
      text-align: center;
    }
    .frm-left{
      width: 270px;
      input[type="text"].capcha{
        width: 110px;
      }
    }
    .frm-right{
      width: 320px;
      &.frm-right-big{
        width: 450px;
      }
      .tbl-cart{
        th{
          padding: 10px 0px;
          font-weight: 700;
          font-size: 15px;
          width: 160px;
        }
      }
    }
    p{
      margin-bottom: 10px;
    }
    input[type="submit"]{
      background: #fcb41d;
      color: #fff;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      width: 220px;
    }
    .align-center label{
      font-size: 14px;
      font-weight: 700;
      color: #f50248;
      display: block;
      margin-top: 5px;
      &:after {
        display: none;
      }
    }
  }
  .history-content{
    .tbl-dl{
      th{
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
  select {
    padding: 0px 15px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #000;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 1px solid #fff;
  }

  /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
      padding-right: 18px;
      height: 41px;
      line-height: 41px;
      width: 250px;
      font-weight: 700;
      font-size: 22px;
    }
  }

  label.slt{
    position: relative;
    margin-bottom: 10px;
    &:after {
      content: '';
      right: 6px;
      top: 0px;
      width: 24px;
      height: 41px;
      position: absolute;
      background: url(images/arrow-down.png) no-repeat center center;
    }
    span.note{
      position: absolute;
      left: 100%;
      top: 0px;
      width: 100%;
      line-height: 49px;
      margin-left: 5px;
    }
  }
  .frm-manager-account{
    h4{
      font-size: 23px;
      color: #fff;
      margin: 0px 0px 10px;
    }
    p{
      margin-bottom: 20px;
    }
    .frm-left{
      padding-left: 20px;
    }
    .frm-right{
      width: 50%;
      .align-center{
        width: 250px;
      }
    }
    .date{
      input[type="text"]{
        width: 70px;
        @include dis(middle);
        font-size: 19px;
      }
      span{
        @include dis(middle);
        font-size: 20px;
        color: #7c7c7c;
        padding: 0px 4px;
      }
    }
    input[type="submit"]{
      padding: 0px 40px;
    }
  }
  .frm-cart-from-bank{
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    .frm-col{
      width: 33%;
    }
    p{
      margin-bottom: 3px;
      font-size: 15px;
      color: #8581a4;
    }
    ul{
      margin: 0px;
      padding: 0px;
      list-style: none;
      li{
        margin-bottom: 3px;
        font-size: 15px;
        font-weight: 700;
        color: #8581a4;
      }
    }
    .frm-right{
      margin-top: 10px;
      line-height: 16px;
      p{
        font-weight: 700;
      }
    }
    h6{
      font-size: 15px;
      font-weight: 700;
      color: #8581a4;
      margin: 10px 0px 5px;
    }
    .align-center{
      margin-top: 20px;
    }
    input[type="submit"]{
      background: #fcb41d;
      color: #fff;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
    }
    input[type="text"].capcha{
      width: 100px;
      @include dis(top);
    }
  }
  .list-bank{
    margin-top: 10px;
    padding: 0px 30px;
    position: relative;
    h4{
      font-size: 15px;
      color: #8581a4;
      font-weight: 700;
      margin: 0px 0px 10px;
    }
    .owl-carousel{
      position: relative;
    }
    .owl-controls{
      .owl-nav{
        .owl-prev{
          position: absolute;
          right: 100%;
          top: 10%;
          text-indent: -9999px;
          width: 41px;
          height: 66px;
          background: url(images/btn-prev.png) no-repeat left top;
          margin-right: 10px;
        }
        .owl-next{
          position: absolute;
          left: 100%;
          top: 10%;
          text-indent: -9999px;
          width: 41px;
          height: 66px;
          background: url(images/btn-next.png) no-repeat left top;
          margin-left: 10px;
        }
      }
    }
  }
}

#overlay{
  position: fixed;
  z-index: 99;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  .title-popup{
    position: relative;
    left: -12px;
    background: url(images/bgr-title-popup.png) no-repeat right top;
    background-color: #fcb41d;
    background-size: auto 100%;
    line-height: 47px;
    min-height: 47px;
  }
  .popup-content{
    min-height: 200px;
  }
  .popup-button{
    text-align: center;
    a{
      @include dis(top);
      background: #278b3f;
      margin: 0px 10px;
      border-radius: 5px;
      width: 120px;
      line-height: 46px;
      font-size: 20px;
      color: #fff;
      &.btn-right{
        background: #8581a4;
      }
    }
  }
  .popup-container{
    min-width: 490px;
    min-height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid #5b577d;
    background: #2c2943;
    border-radius: 5px;
    padding: 10px;
  } 
}

.float-button{
  width: 100px;
  height: 100px;
  position: absolute;
  right: 50px;
  top: 110px;
  background: url(images/float-button.png) no-repeat left top;
  .num1{
    position: absolute;
    left: 15px;
    top: 15px;
    background: #ff0048;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    text-align: center;
  }
  .num2{
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: #ff0048;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    text-align: center;
  }
}
