#main{
  .wrap-content{
    margin: 5px;
    background: #2c2943;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    min-height: 100px;
    &.no-background{
      background: none;
      padding: 5px 0px 15px;
      .main-content{
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
  .btn-back{
    position: absolute;
    left: 20px;
    top: 15px;
  }
  .btn-shop{
    position: absolute;
    right: 100px;
    top: 20px;
    color: #fff;
    @include dis(top);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px;
    padding: 0px 15px;
    background: #8581a4;
    border-radius: 5px;
  }
  .frm-transfer{
    position: relative;
    input[type="text"]{
      font-weight: 700;
      color: #fff;
      font-size: 22px;
      font-style: normal;
      border: 1px solid #ffffff;
      height: 41px;
      line-height: 41px;
      border-radius: 5px;
      margin-bottom: 6px;
      background: #161421;
      width: 250px;
      &.capcha{
        width: 100px;
        @include dis(top);
      }
    }
    .frm-left{
      margin-left: 60px;
      .align-center{
        margin-top: 25px;
        input[type="submit"]{
          font-weight: 700;
          font-size: 27px;
          color: #fff;
          padding: 3px 15px;
          border-radius: 5px;
          background: #fcb41d;
          color: #fff;
          border: none;
          text-transform: uppercase;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
    .frm-right{
      margin-left: 20px;
      width: 490px;
      .note{
        font-size: 15px;
        font-weight: 700;
        h6{
          font-weight: 700;
          color: #ff0048;
          font-size: 15px;
        }
        p{
          font-size: 16px;
          margin: 10px 0px 0px;
        }
        ul{
          margin: 0px;
          padding: 0px 0px 0px 20px;
          list-style: none;
        }
      }
    }
  }
  .main-content{
    padding: 5px 25px 5px 40px;
    .the-title{
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font-weight: normal;
      font-size: 22px;
      margin: 0px 0px 10px;
    }
    .the-title-big{
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font-weight: normal;
      font-size: 35px;
      margin: 0px 0px 10px;
    }
    .tbl-dl{
      outline: 4px solid #1b0107;
      border: 2px solid #8581a4;
      width: 100%;
      background: #000000;
      th{
        text-align: center;
        border: 2px solid #8581a4;
        font-size: 23px;
        font-weight: normal;
        vertical-align: middle;
        line-height: 20px;
      }
      th + th{
        font-size: 17px;
      }
      th + th + th{
        font-size: 23px;
      }
      td{
        border: 2px solid #8581a4;
        height: 20px;
      }
    }
  }
  .navigation{
    padding: 15px 0px 0px;
    text-align: center;
    ul{
      @include dis(middle);
      li{
        margin: 0px 5px;
        a{
          font-size: 23px;
          font-weight: 700;
          display: block;
          color: #8581a4;
        }
        &.active{
          a{
            color: #fff;
          }
        }
      }
    }
    a.btn{
      @include dis(middle);
    }
  }
  input[type="text"], input[type="password"]{
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    border: 1px solid #ffffff;
    height: 41px;
    line-height: 41px;
    border-radius: 5px;
    margin-bottom: 6px;
    background: #161421;
    width: 250px;
    text-align: left;
  }
  input[type="submit"]{
    color: #fff;
    @include dis(top);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px;
    padding: 0px 25px;
    background: #8581a4;
    border-radius: 5px;
    border: none;
    &:hover{
      opacity: 0.7;
    }
  }
  .frm-forget{
    p{
      text-align: center;
      margin-bottom: 30px;
      &.note{
        font-weight: 700;
        font-size: 13px;
        color: #ff0048;
      }
    }
  }
  #frm-login{
    p{
      text-align: center;
      label.error{
        display: block;
        font-weight: 700;
        font-size: 13px;
        color: #ff0048;
        margin: -2px 0px 15px;
      }
    }
  }
  .link-control{
    text-align: center;
    font-weight: 700;
    color: #8581a4;
    font-size: 19px;
    margin: 30px 0px 1px;
    .login-with{
      @include dis(top);
      a{
        @include dis(middle);
        margin: 0px 0px 0px 20px;
      }
    }
    a{
      color: inherit;
    }
  }
  .frm-register{
    .col{
      width: 31%;
      margin: 0px 1%;
    }
    p{
      position: relative;
      text-align: center;
      label.error{
        display: block;
        font-weight: 700;
        font-size: 13px;
        color: #ff0048;
        margin: -2px 0px 15px;
      }
    }
    input[required] + label{
      &:after{
        content: '*';
        color: #ff0048;
        position: absolute;
        bottom: 100%;
        left: 10px;
      }
    }
    .roles-container{
      margin-bottom: 30px;
      p{
        font-size: 13px;
        font-weight: 700;
        color: #fcb41d;
        margin: 10px 0px 0px;
        &+p{
          color: #eddcdd;
          font-size: 15px;
          input[type="checkbox"] {
            display: none;
            &+label:before {
              content: "";
              position: absolute;
              right: 100%;
              top: 0px;
              background: url(images/cbx.png) no-repeat left top;
              width: 34px;
              height: 28px;
            }
            &:checked + label:before {
              content: "";
              width: 34px;
              height: 28px;
              background: url(images/cbx-checked.png) no-repeat left top;
            }
            &:checked + label:after {
              font-weight: bold;
            }
          }
          label {
            cursor: pointer;
            @include dis(middle);
            position: relative;
            line-height: 28px;
          }
        }
      }
    }
    input[type="submit"]{
      background: #278b3f;
      padding: 0px 30px;
    }
  }
  .tabs{
    margin-left: 0px;
    padding-left: 60px;
    li{
      padding: 0px;
      a{
        display: block;
        font-size: 35px;
        padding: 0px 20px;
        line-height: 50px;
        color: #8581a4;
        &.active{
          background: #2c2943;
          color: #fff;
        }
      }
    }
  }
  .tab-content{
    background: #2c2943;
    padding: 35px 50px;
    .list-cart{
      padding-bottom: 10px;
      li{
        position: relative;
        padding: 0px;
        margin-left: 75px;
        border-radius: 5px;
        span{
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          display: block;
          height: 39px;
          line-height: 39px;
          text-align: center;
          font-size: 23px;
          color: #fff;
        }
        &:first-child{
          margin-left: 0px;
        }
      }
    }
  }
  .frm-cart{
    p{
      margin-bottom: 10px;
    }
    select {
      padding: 0px 15px;
      margin: 0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background: #000;
      color: #888;
      border: none;
      outline: none;
      display: inline-block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      border: 1px solid #fff;
    }

    /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      select {
        padding-right: 18px;
        height: 41px;
        line-height: 41px;
        width: 250px;
        font-weight: 700;
        font-size: 22px;
      }
    }

    label {
      position: relative;
      &:after {
        content: '';
        right: 6px;
        top: 0px;
        width: 24px;
        height: 41px;
        position: absolute;
        background: url(images/arrow-down.png) no-repeat center center;
      }
    }
  }
}
