doctype html
html
  include ./includes/head.jade
  body
    #wrapper
      include ./includes/header.jade
      main#main.site-main
        .container
          .wrap-content.no-background
            a.btn-back(href="#")
              img(src="images/btn-back.png", alt="")
            .main-content
              ul.list-inline.tabs.tabs-small
                li
                  a.active(href='#tab1') QUẢN LÝ TÀI KHOẢN
                li
                  a(href='#tab2') ĐỔI MẬT KHẨU
                li
                  a(href='#tab3') CẬP NHẬT THÔNG TIN
                li
                  a(href='#tab4') LỊCH SỬ GIAO DỊCH
                li
                  a(href='#tab5') THƯ
              #tab1.tab-padding.tab-content
                p Tab1
              //end tab1
              #tab2.tab-padding.tab-content
                p This is the 2nd tab.
              //end tab2
              #tab3.tab-padding.tab-content
                p And this is the 3rd tab.
              //end tab3
              #tab4.padding-normal.tab-content
                ul.list-inline.tabs
                  li
                    a(href='#tab-history1') Nạp xèng
                  li
                    a(href='#tab-history2') Tiêu xèng
                  li
                    a(href='#tab-history3') Chuyển xèng
                #tab-history1.history-content
                  table.tbl-dl
                    thead
                      tr
                        th Mã GD
                        th Thời gian
                        th Dịch vụ
                        th Phát sinh
                        th Số dư
                        th Chi tiết
                    tbody
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                  //end tbl-dl
                  .navigation
                    ul.list-inline
                      li.active
                        a(href="#") 1
                      li
                        a(href="#") 2
                      li
                        a(href="#") 3
                      li
                        a(href="#") ...
                    a.btn.btn-nav-next
                      img(src="images/btn-nav-next.png", alt="")
                    a.btn.btn-nav-next-next
                      img(src="images/btn-nav-next2.png", alt="")
                #tab-history2.history-content
                  table.tbl-dl
                    thead
                      tr
                        th Mã GD
                        th Thời gian
                        th Dịch vụ
                        th Phát sinh
                        th Số dư
                        th Chi tiết
                    tbody
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                  //end tbl-dl
                  .navigation
                    ul.list-inline
                      li.active
                        a(href="#") 1
                      li
                        a(href="#") 2
                      li
                        a(href="#") 3
                      li
                        a(href="#") ...
                    a.btn.btn-nav-next
                      img(src="images/btn-nav-next.png", alt="")
                    a.btn.btn-nav-next-next
                      img(src="images/btn-nav-next2.png", alt="")
                #tab-history3.history-content
                  table.tbl-dl
                    thead
                      tr
                        th Mã GD
                        th Thời gian
                        th Dịch vụ
                        th Phát sinh
                        th Số dư
                        th Chi tiết
                    tbody
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                  //end tbl-dl
                  .navigation
                    ul.list-inline
                      li.active
                        a(href="#") 1
                      li
                        a(href="#") 2
                      li
                        a(href="#") 3
                      li
                        a(href="#") ...
                    a.btn.btn-nav-next
                      img(src="images/btn-nav-next.png", alt="")
                    a.btn.btn-nav-next-next
                      img(src="images/btn-nav-next2.png", alt="")
              //end tab4
              #tab5.tab-padding.tab-content
                ul.fleft.tabs.tabs-vertical
                  li
                    a(href='#tab2-1')
                      img(src="images/icon-mail.png", alt="")
                  li
                    a(href='#tab2-2')
                      img(src="images/icon-gift.png", alt="")
                #tab2-1.tab-content
                  ul.list-messeger
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") XÓA
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivered(href="#") ĐÃ NHẬN
                        span.text-delivery tự xóa sau<br/>
                          b 30
                          | ngày
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") XÓA
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") XÓA
                      .clearfix
                  .control-delivery
                    
                #tab2-2.tab-content
                  ul.list-messeger
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") NHẬN
                        span.text-delivery tự xóa sau<br/>
                          b 30
                          | ngày
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") NHẬN
                        span.text-delivery tự xóa sau<br/>
                          b 30
                          | ngày
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") NHẬN
                        span.text-delivery tự xóa sau<br/>
                          b 30
                          | ngày
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") NHẬN
                        span.text-delivery tự xóa sau<br/>
                          b 30
                          | ngày
                      .clearfix
                  .control-delivery
                    a.btn-deliveryall NHẬN TẤT CẢ
                .clearfix
              //end tab5
            //end main-content
          //end wrap-content
      // .site-main
      include ./includes/footer.jade
    // #wrapper
