doctype html
html
  include ./includes/head.jade
  body
    #wrapper
      include ./includes/header.jade
      main#main.site-main
        .container
          .wrap-content.no-background
            a.btn-back(href="#")
              img(src="images/btn-back.png", alt="")
            .main-content
              ul.list-inline.tabs.tabs-small
                li
                  a.active(href='#tab1') QUẢN LÝ TÀI KHOẢN
                li
                  a(href='#tab2') ĐỔI MẬT KHẨU
                li
                  a(href='#tab3') CẬP NHẬT THÔNG TIN
                li
                  a(href='#tab4') LỊCH SỬ GIAO DỊCH
                li
                  a(href='#tab5') THƯ
              #tab1.tab-padding.tab-content
                form.frm-manager-account
                  .frm-left.fleft
                    h4 Thông tin tài khoản:
                    p
                      input(type="text", name="", placeholder="Tên đăng nhập")
                    p
                      input(type="text", name="", placeholder="Mật khẩu")
                    p
                      input(type="text", name="", placeholder="Số điện thoại")
                    p
                      input(type="text", name="", placeholder="Email")
                  //end frm-left
                  .frm-right.fright
                    h4 Thông tin cá nhân:
                    p
                      input(type="text", name="", placeholder="Họ tên")
                    p
                      .date
                        input(type="text", name="", placeholder="Ngày")
                        span /
                        input(type="text", name="", placeholder="Tháng")
                        span /
                        input(type="text", name="", placeholder="Năm")
                    .align-center
                      input(type="submit", value="THAY ĐỔI")
                  //end frm-right
                  .clearfix
              //end tab1
              #tab2.tab-padding.tab-content
                .frm-change-password
                  p
                    input(type="password", name="", placeholder="Mật khẩu cũ")
                    label.error Mật khẩu không đúng
                  p
                    input(type="password", name="", placeholder="Mật khẩu mới")
                    label.error &nbsp;
                  p
                    input(type="password", name="", placeholder="Nhập lại mật khẩu mới")
                    label.error Mật khẩu không đúng
                  .align-center
                    input(type="submit", value="CẬP NHẬT")
              //end tab2
              #tab3.padding-normal.tab-content
                form.frm-transfer.frm-edit
                  .frm-left.fleft
                    p
                      input(type="text", name="", placeholder="Số điện thoại")
                    p
                      input(type="text", name="", placeholder="Email")
                    p
                      input(type="text", name="", placeholder="Họ tên")
                    p
                      label(for="").slt
                        span Giới tinh
                        select(name="")
                          option(value="", selected, disable) Số lượng
                          option(value="") Option01
                          option(value="") Option02
                          option(value="") Option03
                          option(value="") Option04
                          option(value="") Option05
                    p
                      .date
                        input(type="text", name="", placeholder="Ngày")
                        span /
                        input(type="text", name="", placeholder="Tháng")
                        span /
                        input(type="text", name="", placeholder="Năm")
                  //end frm-left
                  .frm-right.fright
                    p * Thông tin tài khoản chỉ cập nhật 1 lần duy nhất để xác minh tài khoản và trao thưởng chính xác.
                    p * Hệ thống sẽ gửi email để xác nhận tài khoản.
                    p * Bạn vui lòng nhập chính xác thông tin để hệ thống thực hiện việc trao thưởng và xác minh tài khoản.
                    .align-center
                      input(type="submit", value="CẬP NHẬT")
                  //end frm-right
                  .clearfix
              //end tab3
              #tab4.padding-normal.tab-content
                ul.list-inline.tabs
                  li
                    a(href='#tab-history1') Nạp xèng
                  li
                    a(href='#tab-history2') Tiêu xèng
                  li
                    a(href='#tab-history3') Chuyển xèng
                #tab-history1.history-content
                  table.tbl-dl
                    thead
                      tr
                        th Mã GD
                        th Thời gian
                        th Dịch vụ
                        th Phát sinh
                        th Số dư
                        th Chi tiết
                    tbody
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                  //end tbl-dl
                  .navigation
                    ul.list-inline
                      li.active
                        a(href="#") 1
                      li
                        a(href="#") 2
                      li
                        a(href="#") 3
                      li
                        a(href="#") ...
                    a.btn.btn-nav-next
                      img(src="images/btn-nav-next.png", alt="")
                    a.btn.btn-nav-next-next
                      img(src="images/btn-nav-next2.png", alt="")
                #tab-history2.history-content
                  table.tbl-dl
                    thead
                      tr
                        th Mã GD
                        th Thời gian
                        th Dịch vụ
                        th Phát sinh
                        th Số dư
                        th Chi tiết
                    tbody
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                  //end tbl-dl
                  .navigation
                    ul.list-inline
                      li.active
                        a(href="#") 1
                      li
                        a(href="#") 2
                      li
                        a(href="#") 3
                      li
                        a(href="#") ...
                    a.btn.btn-nav-next
                      img(src="images/btn-nav-next.png", alt="")
                    a.btn.btn-nav-next-next
                      img(src="images/btn-nav-next2.png", alt="")
                #tab-history3.history-content
                  table.tbl-dl
                    thead
                      tr
                        th Mã GD
                        th Thời gian
                        th Dịch vụ
                        th Phát sinh
                        th Số dư
                        th Chi tiết
                    tbody
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                      tr
                        td
                        td
                        td
                        td
                        td
                        td
                  //end tbl-dl
                  .navigation
                    ul.list-inline
                      li.active
                        a(href="#") 1
                      li
                        a(href="#") 2
                      li
                        a(href="#") 3
                      li
                        a(href="#") ...
                    a.btn.btn-nav-next
                      img(src="images/btn-nav-next.png", alt="")
                    a.btn.btn-nav-next-next
                      img(src="images/btn-nav-next2.png", alt="")
              //end tab4
              #tab5.tab-padding.tab-content
                ul.fleft.tabs.tabs-vertical
                  li
                    a(href='#tab2-1')
                      img(src="images/icon-mail.png", alt="")
                  li
                    a(href='#tab2-2')
                      img(src="images/icon-gift.png", alt="")
                #tab2-1.tab-content
                  ul.list-messeger
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") XÓA
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivered(href="#") ĐÃ NHẬN
                        span.text-delivery tự xóa sau<br/>
                          b 30
                          | ngày
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") XÓA
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") XÓA
                      .clearfix
                  .control-delivery
                    
                #tab2-2.tab-content
                  ul.list-messeger
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") NHẬN
                        span.text-delivery tự xóa sau<br/>
                          b 30
                          | ngày
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") NHẬN
                        span.text-delivery tự xóa sau<br/>
                          b 30
                          | ngày
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") NHẬN
                        span.text-delivery tự xóa sau<br/>
                          b 30
                          | ngày
                      .clearfix
                    li
                      .fleft.content-messeger
                        p [ SHOP] Mã thẻ Viettel 500,000 VNĐ
                        p Người gửi : Hệ thống - Thời gian : dd/mm/yyyyy
                      .fright.control-messeger
                        a.btn-delivery(href="#") NHẬN
                        span.text-delivery tự xóa sau<br/>
                          b 30
                          | ngày
                      .clearfix
                  .control-delivery
                    a.btn-deliveryall NHẬN TẤT CẢ
                .clearfix
              //end tab5
            //end main-content
          //end wrap-content
      // .site-main
      include ./includes/footer.jade
    // #wrapper
