doctype html
html
  include ./includes/head.jade
  body
    #wrapper
      include ./includes/header.jade
      main#main.site-main
        .container
          .wrap-content
            a.btn-back(href="#")
              img(src="images/btn-back.png", alt="")
            .main-content
              h3.the-title DANH SÁCH ĐẠI LÝ
              table.tbl-dl
                thead
                  tr
                    th STT
                    th Tên đại lý<br/>(Username đại lý)
                    th Số điện thoại
                    th Địa chỉ
                    th Gmail
                tbody
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
              //end tbl-dl
              .navigation
                ul.list-inline
                  li.active
                    a(href="#") 1
                  li
                    a(href="#") 2
                  li
                    a(href="#") 3
                  li
                    a(href="#") ...
                a.btn.btn-nav-next
                  img(src="images/btn-nav-next.png", alt="")
                a.btn.btn-nav-next-next
                  img(src="images/btn-nav-next2.png", alt="")
             //end main-content     
          //end wrap-content
      // .site-main
      include ./includes/footer.jade
    // #wrapper
