doctype html
html
  include ./includes/head.jade
  body
    #wrapper
      include ./includes/header.jade
      main#main.site-main
        .container
          .wrap-content
            a.btn-back(href="#")
              img(src="images/btn-back.png", alt="")
            .main-content
              h2.the-title-big ĐĂNG KÝ
              form.frm-register(action="post")
                .fleft.col.col-one
                  p
                    input(type="text", name="username", placeholder="Tên đăng nhập", required)
                    label.error(for='username') Tên đăng nhập đã tồn tại
                  p
                    input(type="text", name="", placeholder="Tên hiển thị", required)
                    label.error(for='') Tên hiển thị đã tồn tại
                .fleft.col.col-one
                  p
                    input(type="password", name="username", placeholder="Mật khẩu", required)
                    label.error(for='username') Mật khẩu không hợp lệ
                  p
                    input(type="password", name="password", placeholder="Nhập lại mật khẩu", required)
                    label.error(for='password') Mật khẩu không hợp lệ
                .fleft.col.col-one
                  p
                    input(type="text", name="username", placeholder="Email cá nhân")
                    label.error(for='username') email đã tồn tại
                .clearfix
                .roles-container
                  p * Vui lòng nhập tên hiển thị để bảo mật tài khoản và nhận quà từ hệ thống
                  p
                    input(type='checkbox', name='cbx', id="cbx")
                    label(for='cbx') Tôi đã đọc kỹ và hoàn toàn đồng ý với Điều khoản sử dụng
                p
                  input(type="submit", value="ĐĂNG KÝ")
            //end main-content
          //end wrap-content
      // .site-main
      include ./includes/footer.jade
    // #wrapper
