doctype html
html
  include ./includes/head.jade
  body
    #wrapper
      include ./includes/header.jade
      main#main.site-main
        .container
          .wrap-content
            a.btn-back(href="#")
              img(src="images/btn-back.png", alt="")
            .main-content
              h2.the-title-big ĐĂNG KÝ
              form.frm-register(action="post")
                p
                  input(type="text", name="username", placeholder="Tên đăng nhập")
                  label.error(for='username') Tên đăng nhập không đúng
                p
                  input(type="password", name="password", placeholder="Mật khẩu")
                  label.error(for='password') Mật khẩu không hợp lệ
                p
                  input(type="submit", value="xác thực")
                p.note Chỉ áp dụng với những thành viên đã xác thực email
            //end main-content
          //end wrap-content
      // .site-main
      include ./includes/footer.jade
    // #wrapper
