doctype html
html
  include ./includes/head.jade
  body
    #wrapper
      include ./includes/header-xocdia.jade
      main#main.site-main
        .container
          .status-jackpot
            .name-jackpot.fleft Xóc Dĩa Jackpot
            .money-jackpot.fleft 999,999,999,999,999
            .clearfix
          .owl-carousel-home.owl-theme
            .item
              .image-room
                img(src="images/img-room01.png", alt="")
              .price-room
                span.min 100
                span -
                span.max 100,000
              .label-jackpot
                h6 jackpot
                span 500,000
            .item
              .image-room
                img(src="images/img-room02.png", alt="")
              .price-room
                span.min 10,000
                span -
                span.max 10,000,000
              .label-jackpot
                h6 jackpot
                span 5,000,000
            .item
              .image-room
                img(src="images/img-room03.png", alt="")
              .price-room
                span.min 100,000
                span -
                span.max 10,000,000
              .label-jackpot
                h6 jackpot
                span 50,000,000
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
      // .site-main

      include ./includes/footer.jade
    // #wrapper
