doctype html
html
  include ./includes/head.jade
  body
    #wrapper
      include ./includes/header-xocdia.jade
      main#main.site-main
        .container
          .owl-carousel-home.owl-theme
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")

      // .site-main

      include ./includes/footer.jade
    // #wrapper
