doctype html
html
  include ./includes/head.jade
  body
    #wrapper
      include ./includes/header-xocdia.jade
      main#main.site-main
        .container
          .owl-carousel-icongame.owl-theme
            .item
              .price-icongame 999,999,999,999,999
              .image-icongame
                img(src="images/img-icongame01.png", alt="")
            .item
              .price-icongame 999,999,999,999,999
              .image-icongame
                img(src="images/img-icongame02.png", alt="")
            .item
              .price-icongame 999,999,999,999,999
              .image-icongame
                img(src="images/img-icongame03.png", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
            .item
              img(src="images/item-game.jpg", alt="")
      // .site-main

      include ./includes/footer.jade
    // #wrapper
