doctype html
html
  include ./includes/head.jade
  body
    #wrapper
      include ./includes/header-xocdia.jade
      main#main.site-main
        .container
          .game-container
            .user-control
              .user-game
                ul.list-inline
                  li.team.team-black.medal-silver
                    a(href="#") 
                  li.team.team-red.medal-gold
                    a(href="#") 
                a.change-boss xin cái
                ul.list-inline
                  li
                    a(href="#") 
                  li.team.team-black
                    a(href="#") 
              //end user-game
            //end user-control
            .user-game.clearfix
              .user-list.user-left.fleft
                ul
                  li
                    a(href="#") 
                  li
                    a(href="#") 
                  li.team.team-red
                    a(href="#") 
                  li
                    a(href="#") 
                  li
                    a(href="#") 
              //end user-left
              .main-game.fleft
                .main-game-top.clearfix
                  .label-button.label-odd.fleft
                    a(href="#") chẵn
                  .label-time
                    span 15s
                  .label-button.label-even.fright
                    a(href="#") lẻ
                //end main-game-top
                .main-game-center
                  .option-choose.option-one
                    span 4 đỏ
                  .option-choose.option-two
                    span 4 đen 
                  .option-choose.option-three
                    span 3 đổ 1 đen
                  .option-choose.option-four
                    span 3 đen 1 đổ 
                .main-game-bottom.clearfix
                  .game-status.fleft
                    .status-odd
                      h6 chẵn
                      ul
                        li.dot.dot-red
                        li.dot.dot-red
                        li.dot.dot-red
                        li.dot.dot-red
                        li.dot.dot-black
                        li.dot.dot-black
                        li.dot.dot-black
                        li.dot.dot-black
                    .status-even
                      h6 lẻ
                      ul
                        li.dot.dot-red
                        li.dot.dot-red
                        li.dot.dot-red
                        li.dot.dot-black
                        li.dot.dot-black
                        li.dot.dot-black
                        li.dot.dot-black
                        li.dot.dot-red
                  //end game-status
                  .game-show-info.fleft
                    table
                      tr
                        th 99
                        td
                          span.dot-red 4
                        td
                          span.dot-black 3
                        td
                          span.dot-red 4
                      tr
                        th 99
                        td
                          span.dot-red 4
                        td
                          span.dot-black 3
                        td
                          span.dot-red 4
                      tr
                        th 99
                        td
                        td
                          span.dot-black 1
                        td
                          span.dot-red 2
                      tr
                        th 99
                        td
                        td
                          span 3
                        td
                      tr
                        th 99
                        td
                        td
                        td
                      tr
                        th 99
                        td
                        td
                        td
                  //end game-status
                //end main-game-bottom
                .control-game-bottom.clearfix
                  .place-a-let.fleft
                    a.btn.set-let đặt lại
                    a.btn.cancel-let hủy cược
                  .option-money.fleft
                    ul.list-inline
                      li.active
                        a(href="#")
                          img(src="images/cash1.png", alt="")
                      li
                        a(href="#")
                          img(src="images/cash2.png", alt="")
                      li
                        a(href="#")
                          img(src="images/cash3.png", alt="")
                      li
                        a(href="#")
                          img(src="images/cash4.png", alt="")
                  .set-double.fleft
                    span 999
                    button
                      img(src="images/icon-plus.png", alt="")
                    a.btn.btn-double gấp đôi
                  .more-odd-even.fleft
                    a.btn.btn-odd chẵn ngoài
                    a.btn.btn-even lẻ ngoài
                //end control-game-bottom
              //end main-game-center
              .user-list.user-right.fright
                ul
                  li
                    a(href="#")
                  li
                    a(href="#")
                  li
                    a(href="#")
                  li
                    a(href="#")
                  li
                    a(href="#")
              //end user-right
              .clearfix
            //end user-game
      // .site-main

      include ./includes/footer.jade
    // #wrapper
