main#main.site-main
  .container
    .owl-carousel-home.owl-theme
      .item
        img(src="images/item-game.jpg", alt="")
      .item
        img(src="images/item-game.jpg", alt="")
      .item
        img(src="images/item-game.jpg", alt="")
      .item
        img(src="images/item-game.jpg", alt="")
      .item
        img(src="images/item-game.jpg", alt="")
      .item
        img(src="images/item-game.jpg", alt="")
      .item
        img(src="images/item-game.jpg", alt="")
      .item
        img(src="images/item-game.jpg", alt="")
      .item
        img(src="images/item-game.jpg", alt="")
      .item
        img(src="images/item-game.jpg", alt="")

// .site-main
