footer#footer.site-footer
  .container
    .menu-footer.fleft
      ul.list-inline
        li
          a(href="#") Giới thiệu
        li
          a(href="#") Hướng dẫn
        li
          a(href="#") Điều khoản sử dụng
        li
          a(href="#") Liên hệ
    //end menu-footer
    .information.fright
      .copyright
        span &copy; 2016 Lasvegas689
      .social-container
        ul.list-inline
          li
            a(href="#")
              img(src="images/icon-fb.png", alt="")
          li
            a(href="#")
              img(src="images/icon-gp.png", alt="")
    //end information
    .clearfix
  // .container
// site-footer
