header#header.site-header
  .container
    .logo
      a(href="#")
        img(src="images/logo.png", alt="")
    .header-top
      include menu.jade
      .status-wrap
        .welcome-user
          span welcome...
          b username
        .money-user
          span 999,999,999
          button
            img(src="images/icon-plus.png", alt="")
        .diamond-user
          span 999,999,999
          button
            img(src="images/icon-plus.png", alt="")
      //end status-wrap
      .menu
        button.btn-menu
          img(src="images/icon-menu.png", alt="")
      //end menu
    //end header-top
    .header-bottom
      .status-result
        ul
          li
            span slots:
            b 999,999,999,999,999
          li
            span xóc đĩa:
            b 999,999,999,999,999
          li
            span sicbo:
            b 999,999,999,999,999
      //end status-result
      .ads-banner
        img(src="images/ads-banner.png", alt="")
      //end ads-banner
      .menu-control
        ul.list-inline
          li
            a(href="#")
              img(src="images/menu-control01.png", alt="")
              span đại lý
          li
            a(href="#")
              img(src="images/menu-control02.png", alt="")
              span cửa hàng
          li
            a(href="#")
              img(src="images/menu-control03.png", alt="")
              span chuyển
      //end menu-control
      .clearfix
    //end header-bottom
    .auto-scroll
      p text notification text notification text notification text notification text notification text notification text notification text notification text notification text
  // end .container
// End .site-header
