<<<<<<< HEAD
nav.main-menu
    ul.list-inline
      li
        a(href='#') trang chủ
        ul
          li
            a(href="#") slot1
          li
            a(href="#") slot2
          li
            a(href="#") slot3
          li
            a(href="#") slot4
          li
            a(href="#") slot5
      li
        a(href='#') slots
      li
        a(href='#') xóc đĩa
      li
        a(href='#') sicbo
// .main-menu
